<!-- Landing page that admin sees when they login -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Landing</title>
</head>
<body>
    <h1>Landing</h1>
    <form action="/requested_event" method="GET">
        <button type="submit">Requested Event</button>
    </form>
    <form action="/completed_events" method="GET">
        <button type="submit">Completed Events</button>
    </form>
    <form action="/volunteers" method="GET">
        <button type="submit">Volunteer_Management</button>
    </form>
    <form action="/login" method="GET">
        <button type="submit">Login</button>
    </form>
</body>
</html>