<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turtle Shelter Project</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
      }

      h1 {
        text-align: center;
        margin: 20px 0;
      }

      .button-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      button {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        border: none;
        padding: 15px 30px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0 10px;
      }

      button:hover {
        background-color: rgba(255, 255, 255, 0.7);
        color: black;
      }

      table {
        width: 100%;
        margin: 20px auto;
        border-collapse: collapse;
        font-size: 14px;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        line-height: 1.4;
      }

      th {
        background-color: #f9f9f9;
        font-weight: bold;
      }

      .form-buttons {
        display: flex;
        justify-content: center;
        margin: 20px 0;
      }
    </style>
  </head>
  <body>
    <div class="button-bar">
      <form action="/admin_landing" method="GET">
        <button type="submit">Admin Main</button>
      </form>
      <form action="/requested_event" method="GET">
        <button type="submit">Requested Events</button>
      </form>
      <form action="/completed_events" method="GET">
        <button type="submit">Completed Events</button>
      </form>
      <form action="/volunteers" method="GET">
        <button type="submit">Volunteer Management</button>
      </form>
      <form action="/login" method="GET">
        <button type="submit">Edit User Accounts</button>
      </form>
    </div>
    <h1>Completed Events</h1>
    <table>
      <thead>
        <tr>
          <th>Host Name</th>
          <th>Description</th>
          <th>Organization</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if (completed_events.length > 0) { %> <%
        completed_events.forEach(function(row) { %>
        <tr>
          <td><%= row.name %></td>
          <td><%= row.event_description %></td>
          <td><%= row.organization %></td>
          <td>
            <form
              action="/update_completed_events/<%= row.event_number %>"
              method="GET"
            >
              <button type="submit">Update</button>
            </form>
          </td>
        </tr>
        <% }); %> <% } else { %>
        <tr>
          <td colspan="4">No data available</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
